{% extends 'base.html'%}

{% block content %}
{{block.super}}


<div class="card-columns">

{% if images%}
{% for image in images %}
<div class="c">
 <div class="card">
     <img src="{{image.image.url}}" height="280vh"  class="card-img-top" alt="" data-toggle="modal" data-target="#{{image.id}}">
 </div>



<div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title" id="exampleModalLongTitle">{{image.description}}</h5>
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
<div class="modal-body">
 <img src="{{image.image.url}}" alt="" class="img-fluid">
 <p>{{image.description}}</p>
</div>
<div class="modal-footer">
   <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}.url">
<button class="btn btn-success btn-sm"  onclick="copyLink('{{image.id}}.url')">Copy</button>

 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

{% endfor %}
{% endif %}
</div>

{% endblock %}













<!-- <div class="row news-grids mt-lg-5 mt-4 text-center">  -->
  <!-- <div class="card-columns"> -->

  <!-- {% for image in images %}

  <div class="col-md-4" data-toggle="modal" data-target="#{{image.id}}">
    <img src="{{image.image.url}}" class="img-responsive" alt="Image">





    <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content modalcard">
          <div class="modal-header">
            <h5 class="modal-title" id="imageheader">{{image.description}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{image.image.url}}" alt="img" class="img-fluid">

            <span class="btn btn-sm btn-outline-success">{{image.Category}}</span>
            <a href="{{image.location}}" class="btn btn-sm btn-outline-info">{{image.location}}</a>
          </div>
          <div class="modal-footer">
            <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}.url">
            <button class="btn btn-success btn-sm" onclick="copyLink('{{image.id}}.url')">Copy</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}

</div>

 -->
